<div class="b-home">
    <div class="b-home__title">
        <p class="b-home__t-text">Bienvenido a <span class="b-home__t-text b-home__t-text--italic">Shopéame</span></p>
    </div>
    <article class="b-home__body">
        <h4 class="b-home__b-text b-home__b-text--bold">¿Qué es 
            <span class="b-home__b-text b-home__b-text--bold b-home__b-text--italic">
                shopéame?
            </span>
        </h4>
        <p class="b-home__b-text b-home__b-text--margin">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis blanditiis fugiat sapiente soluta error nihil ea accusamus maiores nostrum ex neque nobis nemo necessitatibus assumenda iste, consequuntur tempora, quam similique nam deserunt magnam. Esse laborum minus nobis aspernatur ratione voluptatibus voluptatem perspiciatis obcaecati quia assumenda totam earum quibusdam sint debitis odio minima dolore consequatur alias in iste, quidem sequi enim at! Repellat quam, cum iusto laboriosam porro totam praesentium qui earum ipsum. Expedita cupiditate cumque dolor nulla doloribus in incidunt repellat, quaerat quia, corrupti a sapiente cum totam eaque rerum culpa similique molestias! Ipsa veniam fuga nesciunt quam inventore. Asperiores!
        </p>
        <h4 class="b-home__b-text b-home__b-text--bold">¿Para qué puedo usar 
            <span class="b-home__b-text b-home__b-text--bold b-home__b-text--italic">
                shopéame?
            </span>
        </h4>
        <p class="b-home__b-text b-home__b-text--margin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas deserunt incidunt nemo magni ratione nobis possimus. Blanditiis, voluptate? Ratione minima mollitia ab voluptatem veritatis ipsam adipisci neque reprehenderit explicabo alias delectus dicta enim exercitationem temporibus libero eaque eligendi vero culpa error, voluptates sunt quis, quam saepe veniam. Impedit, quidem voluptatum fugit harum totam eveniet eum, sit id ab dicta vero saepe, ullam veniam delectus. Molestiae delectus alias maiores tenetur odit sint quam a, earum quo soluta aliquam assumenda vero porro sequi illum ut quos quas amet ullam doloremque corrupti cupiditate ea commodi. Quia, sit? Ut dolores ratione odio, expedita harum fugiat tempore quas laborum dolorem error cum illum dolor molestiae.
        </p>
        <h4 class="b-home__b-text b-home__b-text--bold">¿Quiénes hacemos en 
            <span class="b-home__b-text b-home__b-text--bold b-home__b-text--italic">
                shopéame?
            </span>
        </h4>
        <p class="b-home__b-text b-home__b-text--margin">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo deleniti soluta corporis excepturi fuga ipsa eligendi, sint iure quasi provident cumque laudantium cum vero. Veniam nihil molestiae asperiores accusantium. Eligendi ipsum temporibus sint quaerat rerum blanditiis, cupiditate delectus sed unde at ex, praesentium et reiciendis fuga quod deserunt corporis facilis quibusdam laboriosam consequuntur iure iste odio. Facilis, soluta! Voluptate recusandae nostrum culpa perferendis vitae voluptatem deleniti animi cum iure magnam?
        </p>
        <h4 class="b-home__b-text b-home__b-text--bold">¿Es seguro usar 
            <span class="b-home__b-text b-home__b-text--bold b-home__b-text--italic">
                shopéame?
            </span>
        </h4>
        <p class="b-home__b-text b-home__b-text--margin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis error perspiciatis unde! Officiis, magni. Repellat, explicabo, illo officia cum quis error blanditiis vero libero commodi non fugit ab! Explicabo voluptatum id est incidunt ipsum magnam tenetur. Mollitia ratione distinctio laboriosam omnis odit? Cum quisquam voluptas, nulla sunt quod minus hic! Officiis velit dolor voluptate ratione officia, praesentium quidem magni minima architecto temporibus! Quaerat quos maxime numquam magnam, laboriosam facilis repellat?
        </p>
    </article>
</div>
