<div class="b-footer">
    <div class="b-footer__rrss">
        <p class="b-footer__text b-footer__text--title">Síguenos en:</p>
        <a class="b-footer__text b-footer__text--bold b-footer__link" href="#">Twitter</a>
        <span class="b-footer__text--bold b-footer__text--tube">|</span>
        <a class="b-footer__text b-footer__text--bold b-footer__link" href="#">Facebook</a>
        <span class="b-footer__text--bold b-footer__text--tube">|</span>
        <a class="b-footer__text b-footer__text--bold b-footer__link" href="#">Instagram</a>
        <span class="b-footer__text--bold b-footer__text--tube">|</span>
        <a class="b-footer__text b-footer__text--bold b-footer__link" href="#">TikTok</a>
    </div>
    <div class="b-footer__cr b-footer__text b-footer__text--title">
        Copyright Shopéame © {{year}}
    </div>
</div>
