<div class="b-products">
    <div class="b-products__header">
        <div class="b-products__title">
            <p class="b-products__text">Listado de Productos ({{productList.length}})</p>
        </div>
        <div class="mode-select">
            <div class="mode-select__grid">
                <div class="mode-select__item mode-select__item">
                    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5 0V4H17V0H5ZM5 14H17V10H5V14ZM5 9H17V5H5V9ZM0 4H4V0H0V4ZM0 14H4V10H0V14ZM0 9H4V5H0V9Z"
                            fill="#787885" />
                    </svg>
                </div>
                <div class="mode-select__item mode-select__item--selected">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8H8V0H0V8ZM0 18H8V10H0V18ZM10 18H18V10H10V18ZM10 0V8H18V0" fill="#444444" />
                    </svg>
                </div>
            </div>
            <div class="mode-select__search">
                <input class="mode-select__input" placeholder="Buscador" type="text">
            </div>
        </div>
    </div>
    <div class="container b-products__container">
        <div class="row">
            <div class="col-sm-3 b-col" *ngFor="let product of productList">
                <figure class="b-figure">
                    <img class="b-figure__img" src="{{product.image}}" alt="{{product.name}}">
                    <figcaption class="b-figure__text">
                        {{product.description}}
                    </figcaption>
                    <p class="b-figure__price">${{product.price}}</p>
                </figure>
                <div class="b-figure b-figure__opt">
                    {{product.description}}
                </div>
                <div class="b-figure__footer">
                    <div class="b-figure__stars">
                        XXXXX 4.05
                    </div>
                    <a routerLink="">
                        <div class="b-figure__button">
                            <p class="b-figure__btext">Editar</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>